body{
    height: 600vh;
}
h2{
    color: red;
    letter-spacing: 5x;
}

.svarbusTekstas{
    font-size: larger;
    font-style: italic;
    font-weight: bold;
}

.raudonasTekstas{
    color: red;
}

#remeliai{
    border: 3px dashed rgb(255, 20, 20);
}
.kvadratas{
    width: 100px;
    height: 100px;
    background-color: rgb(18, 123, 214);
    border: 2px solid black;
}
.linijinis{
    display: inline;
}
.blokinis{
    display: block;
}
.linijinisBlokinis{
    display: inline-block;
}
.t10{
    top: 10px;
}
.r30{
    right:30px;
}
.b50{
    bottom:50px;
}
.l80{
    left: 80px;
}
.z5{
    z-index: 5;
}
.z10{
    z-index: 10;
}
.static{
    position: static;
}
.relative{
    position: relative;
}
.absolute{
    position:absolute;
}
.fixed{
    position: fixed;
}
.sticky{
    position: sticky;
}
.aukstasKonteineris{
    height: 500px;
}
.bg{
    background-color: rgb(255, 255, 255);
}