.kortele1{
    background-color: #7fffd4;
    width: 1000px;
    height: 600px;
    padding: 20px;;
    border-width: 10px ;
    border-style: solid;
    margin: 100px auto;
}
.kortelesFonas1{
    background-image: url(../images/Teide_Tenerife.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.kortelesTekstas{
    opacity: 0.5;
    background-color: aqua;
    box-sizing: border-box;
    padding: 30px 10px;
    height: 50%;
    width: 30%;
    text-align: center;
    border-width: 10px;
    border-color: black;
    border-style: solid;
}
